<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
      <br />
      <h1> Did you say bees?</h1>
      <br />
      <h2>Beads!</h2>
      <br/>
      <%= link_to "Learn more", "#", class: 'btn btn-success' %>
      <br/><br/>
  </div>
</div>

<!--Splits page into 3 separate parts-->
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Course 1 here</h3>
    <br />
    <p>Info about Course 1 </p>
  </div>

  <div class="col-12 col-sm">
    <h3>Course 2 here</h3>
    <br />
    <p>Info about Course 2</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Course 3 here</h3>
    <br />
    <p>Info for Course 3 here</p>
  </div>
</div>