<br />

<div class="booyah-box col-10 offset-1">
  <h1><%= @course.title %></h1>
<br />
<div class="row">
  <div class="col-sm-4 col-12 text-center">
  <!--Bootstrap badge class-->
  <span class="badge badge-default">
  <!--Calling num to currency function to set cost-->
    <%= number_to_currency @course.cost %>
</div>
  </span>
    <!--If you're logged in and also created the course, then Admin link shows up to go to instructor page-->
  <% if current_user && current_user == @course.user %>
      <br />
      <br />
      <%= link_to 'Administer', instructor_course_path(@course), class: 'btn btn-danger btn-large' %>
  <% end %>

  <div class="col-sm-8 col-12">
    <%= @course.description %>
  </div>
  </div>
</div>